## **AIR BnB VIENNA ANALYSIS**

Jonathan Jones

22.05.05

In [15]:
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## **BACK-UP DATASET**

1) Source of data:

  https://data.cityofnewyork.us/Housing-Development/DOF-Condominium-Comparable-Rental-Income-Manhattan/ad4c-mphb

2) Brief description of data

 NYC Condominiums with similar features are compared and assessed as rental units. 

3) What is the target?

  MANHATTAN CONDOMINIUM PROPERTY Est. Gross Income

4) Is this a classification or regression problem?

  This is regression problem as the target value is not limited to a finite number of classes or values. 

5) How many features?

  46-1(target) columns = 45 features (TBD). I will undoubtedly drop several more columns once I begin to look through the data more closely.  

6) How many rows of data.

  1068

7) What, if any, challenges do you foresee in cleaning, exploring, or modeling with this dataset?

 This dataset has a lot of columns, the challenge lies in determining which columns will be the most effective for predicting our target values.

In [30]:
data2 = '/content/drive/MyDrive/SI/DOF__Condominium_Comparable_Rental_Income___Manhattan___FY_2009_2010.csv'
df2 = pd.read_csv(data2)
df2.head(5)

,MANHATTAN CONDOMINIUM PROPERTY Boro-Block-Lot,MANHATTAN CONDOMINIUM PROPERTY Condo Section,MANHATTAN CONDOMINIUM PROPERTY Address,Borough,Postcode,Latitude,Longitude,Community Board,Council District,Census Tract,...,COMPARABLE RENTAL 2 Neighborhood,COMPARABLE RENTAL 2 Building Classification,COMPARABLE RENTAL 2 Total Units,COMPARABLE RENTAL 2 Year Built,COMPARABLE RENTAL 2 Gross SqFt,COMPARABLE RENTAL 2 Est. Gross Income,COMPARABLE RENTAL 2 Gross Income per SqFt,COMPARABLE RENTAL 2 Full Market Value,COMPARABLE RENTAL 2 Market Value per SqFt,COMPARABLE RENTAL 2 Dist. from Coop in miles
0,1-00007-7501,735-R1,1 COENTIES SLIP,1,10004.0,40.703627,-74.010607,1.0,1.0,9,...,SOUTHBRIDGE,C7-WALK-UP,12,"1,900","17,475","732,000",41.9,"3,670,000",210.0,0.55
1,1-00015-7502,1557-R1,20 WEST STREET,1,10004.0,40.706358,-74.016151,1.0,1.0,13,...,FINANCIAL,D8-ELEVATOR,650,"2,003","627,330","25,002,565",39.9,"125,000,000",199.0,0.50
2,1-00016-7501,308-R1,377 RECTOR PLACE,1,10280.0,40.709506,-74.018002,1.0,1.0,"31,704",...,TRIBECA,D8-ELEVATOR,341,"1,998","357,000","13,358,015",37.4,"67,000,000",188.0,0.00
3,1-00016-7502,313-R1,320 ALBANY STREET,1,10280.0,40.710165,-74.016751,1.0,1.0,"31,704",...,TRIBECA,D8-ELEVATOR,341,"1,998","357,000","13,358,015",37.4,"67,000,000",188.0,0.00
4,1-00016-7503,385-R1,250 SOUTH END AVENUE,1,10280.0,40.709709,-74.016560,1.0,1.0,"31,704",...,TRIBECA,D8-ELEVATOR,341,"1,998","357,000","13,358,015",37.4,"67,000,000",188.0,0.00

In [17]:
df2.shape

(11429, 18)

## **PRIMARY DATASET**

In [29]:
data = '/content/drive/MyDrive/SI/Vienna Austria Airbnb.csv'
df = pd.read_csv(data)

df.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,15883,b&b near Old Danube river,62142,Eva,NaN,Donaustadt,48.24262,16.42767,Hotel room,120,1,14,2021-10-07,0.17,3,364,3,NaN
1,38768,central cityapartement- wifi- nice neighbourhood,166283,Hannes,NaN,Leopoldstadt,48.21924,16.37831,Entire home/apt,66,3,336,2021-11-14,2.57,3,124,13,NaN
2,40625,"Near Palace Schönbrunn, Apt. 1",175131,Ingela,NaN,Rudolfsheim-Fnfhaus,48.18434,16.32701,Entire home/apt,156,1,162,2021-11-01,1.17,15,306,7,NaN
3,51287,little studio- next to citycenter- wifi- nice ...,166283,Hannes,NaN,Leopoldstadt,48.21778,16.37847,Entire home/apt,62,3,327,2021-11-22,2.47,3,136,18,NaN
4,70637,Flat in the Center with Terrace,358842,Elxe,NaN,Leopoldstadt,48.21760,16.38018,Private room,50,2,117,2021-06-25,0.90,3,333,1,NaN

1) Source of data:

http://insideairbnb.com/get-the-data/

2) Brief description of data.

  Rental metrics for AirBnB hosts in Vienna Austria. 

3) What is the target?

  Number of reviews.

4) Is this a classification or regression problem?

  This is regression problem as the target value is not limited to a finite number of classes or values. 

5) How many features?

  18-1(target) columns = 17 features. 

6) How many rows of data.

  11429

7) What, if any, challenges do you foresee in cleaning, exploring, or modeling with this dataset?

At a glance there are several columns that appear to be irrelevant to our target. I wonder if this dataset contains enough relevant features to make a meaningful prediction.

In [19]:
df.shape

(1068, 46)

In [20]:
# # Unadulterated copy for Machine Learning:

df_ML = df.copy()

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11429 entries, 0 to 11428
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              11429 non-null  int64
 1   name                            11416 non-null  object
 2   host_id                         11429 non-null  int64
 3   host_name                       11411 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   11429 non-null  object
 6   latitude                        11429 non-null  float64
 7   longitude                       11429 non-null  float64
 8   room_type                       11429 non-null  object
 9   price                           11429 non-null  int64
 10  minimum_nights                  11429 non-null  int64
 11  number_of_reviews               11429 non-null  int64
 12  last_review                     9091 non-null   object
 13  reviews_per_month               9091 non-null   float64
 14  calculated_host_listings_count  11429 non-null  int64
 15  availability_365                11429 non-null  int64
 16  number_of_reviews_ltm           11429 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(5), int64(8), object(5)
memory usage: 1.6+ MB

In [40]:
# Changing all column names to lowercase:

df.columns = df.columns.str.lower()

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11429 entries, 0 to 11428
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              11429 non-null  int64
 1   name                            11416 non-null  object
 2   host_id                         11429 non-null  int64
 3   host_name                       11411 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   11429 non-null  object
 6   latitude                        11429 non-null  float64
 7   longitude                       11429 non-null  float64
 8   room_type                       11429 non-null  object
 9   price                           11429 non-null  int64
 10  minimum_nights                  11429 non-null  int64
 11  number_of_reviews               11429 non-null  int64
 12  last_review                     9091 non-null   object
 13  reviews_per_month               9091 non-null   float64
 14  calculated_host_listings_count  11429 non-null  int64
 15  availability_365                11429 non-null  int64
 16  number_of_reviews_ltm           11429 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(5), int64(8), object(5)
memory usage: 1.6+ MB

In [35]:
# Shape of data frame:

df.shape

# 11429 rows 
# 18 columns

(11429, 18)

##**DATA CLEANING & PREPARATION**

In [36]:
# Check for duplciated rows:

df.duplicated().sum()

0

In [42]:
# Removal of ineffectual columns:
remove = {'id', 'name','host_id', 'host_name', 'neighbourhood_group', 'license'}
df.drop(columns = remove, inplace = True)

In [43]:
# Check for missing values:

df.isna().sum()

neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       2338
reviews_per_month                 2338
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
dtype: int64

In [27]:
# Imputation:

KeyError: ignored

In [ ]:
# Final check for missing values:

df.isna().sum()

In [ ]:
# Check for insconsistencies and odd numeric entries:

df.describe().round(1)

##**VISUAL ANALYSIS**

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Correlation map to ascertain related features:

correlation = df.corr().round(2)

fig, hm = plt.subplots(nrows=1, ncols =1, figsize=(18,18));
hm = sns.heatmap(correlation, cmap='rocket_r', annot=True);
hm.set_title('Correlation Heatmap\n', fontsize= 24);

In [ ]:
import matplotlib.patches as mpatches

fig, axes = plt.subplots(nrows=1, ncols =2, figsize=(20,10));

fed_fund = sns.lineplot(data =df, x= 'date', y = 'fed_fund_rate', ax = axes[0]);
uer = sns.lineplot(data =df, x= 'date', y = 'unemployment_rate', ax = axes[0]);
asp = sns.lineplot(data =df, x= 'date', y = 'asp_nhs', ax = axes[1]);
msp = sns.lineplot(data =df, x= 'date', y = 'msp_nhs', ax = axes[1]);